/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*, *::before, *::after {
  box-sizing: border-box;
  font-family: 'Public Sans', sans-serif;
}
* {
  margin: 0;
}
html, body {
  height: 100%;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
  display: block;
  width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
/** End of custom reset */

button{
  cursor: pointer;
  transition: opacity .3s, transform .3s;
}button:hover,button:focus{
  opacity: 80%;
  transform: scale(0.95);
}
nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5em;
  background-color: #fff;
}
#navLogo{
  width: clamp(100px, 55%, 300px);
}
#navButton{
  background-color: transparent;
  border: none;
  outline: none;
}